{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
